@use "sass:math";

@use "@fontsource-variable/noto-sans-jp";
@use "@fontsource-variable/jetbrains-mono";

@use "variable" as v;

$font-default: "Noto Sans JP Variable", "Helvetica Neue", Arial,
  "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$font-mono: "JetBrains Mono Variable", monospace;
$font-size: 1rem;
$line-height: 1.4;
$letter-space: #{v.s(-4)};

* {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-default;
  font-feature-settings: "palt" 1;
  letter-spacing: $letter-space;
}

pre,
code {
  font-family: $font-mono;
}
