@use "../variables/base";

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: base.space(2);
}

h2 {
    font-size: base.space(2);
}

h3 {
    font-size: base.space(1);
}

h4 {
    font-size: base.space(1);
}

h5 {
    font-size: base.space(0);
}

h6 {
    font-size: base.space(-1);
}
