@use "sass:map";
@use "color";

$themes: light, dark;

$theme-color: (
    background: (
        white,
        color.class-color("gray", 900),
    ),
    border: (
        color.class-color("gray", 300),
        color.class-color("gray", 300),
    ),
);

// Define the css properties each of themes.
// The CSS property name is defined like the following list.
//
// --{name}-color:     hex color code, e.g. #010203
// --{name}-r-color:   red color code, e.g. 1
// --{name}-g-color:   green color code, e.g. 2
// --{name}-b-color:   blue color code, e.g. 3
// --{name}-rgb-color: rgb color code, e.g. 1, 2, 3
//
// e.g. --background-color: white

@mixin _define-theme-color($theme) {
    @each $name, $colors in $theme-color {
        @include color.define-variables($name, nth($colors, index($themes, $theme)));
    }
}

@mixin define() {
    :root {
        // default
        @media (prefers-color-scheme: light) {
            @include _define-theme-color(light);
        }

        @media (prefers-color-scheme: dark) {
            @include _define-theme-color(dark);
        }
    }

    @each $theme in $themes {
        .#{$theme}-theme {
            @include _define-theme-color($theme);
        }
    }
}
